# Puerto del servidor (por defecto 3001)
PORT=3001

# URL de la base de datos de Prisma
# Ejemplo para SQLite: "file:./dev.db"
# Ejemplo para PostgreSQL: "postgresql://usuario:contraseña@localhost:5432/db_name?schema=public"
DATABASE_URL="file:./dev.db"

# Secreto para firmar los tokens JWT 
# Importante: Cambia este valor por una cadena larga y segura en el entorno de producción
JWT_SECRET="tu_super_secreto_aqui"
